header .top{
    padding: 80px;
    background-image: url(./img/backgroundImg.jpg);
    color: white;
    background-size: cover;
}
.top .user .avatar{
    width: 30px;
}
header h1{
    margin: 0px 60px;
    font-size: 36px;
}
header .searchBar{
    margin-left: 40px;
    margin-bottom: 50px;
    width: 500px;
}
header .searchBar .btn{
    margin: 0px;
}
header .user{
    margin-left: 60px;
}
header h3{
    margin-top: 20px;
    margin-left: 60px;
}
header .context{
    margin-left: 60px;
}
header .btn{
    margin-left: 60px;
    opacity: 100%;
}
article .carousel img{
    width: 160px;
    height: 270px;
    position: absolute;
    bottom: 30px;
    border: 1px solid white;
}
article .carousel .cardOne{
    position: absolute;
    left: 610px;
    cursor: pointer; 
}
article .carousel .cardOne .textOne{
    position: relative;
    bottom: 50px;
    left: 10px;
}
article .carousel .cardTwo{
    position: absolute;
    left: 780px;
    cursor: pointer; 
}
article .carousel .textTwo{
    position: relative;
    bottom: 50px;
    left: 10px;
}
article .carousel .cardThree{
    position: absolute;
    left: 950px;
    cursor: pointer; 
}
article .carousel .textThree{
    position: relative;
    bottom: 50px;
    left: 10px;
}

/* ---------下半部------- */
article .hito{
    margin: 80px 80px 30px;
}
article .container .hitoCard{
    cursor: pointer; 
}
article .container .hitoCard img{
    width: 250px;
    height: 150px;
}
article .hitoCard .userText{
    color: #2d4057;
}
article .hitoCard p{
    font-size: 12px;
}
article .container .hitoCard .user{
    width: 20px;
    height: 20px;
}
article .hitoCard .remark{
    background-color: #2D40570D;
    padding: 0px 6px;
    color: #2D405799;
    font-size: 12px;
}
article .hitoCard .thumb{
    color: #2D405799;
    font-size: 12px;
}